.mapStatsList {
  margin-top: 15px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  cursor: default;
}

.statName {
  font-weight: bold;
}

.reportedDeaths, 
.mortalityRate {
  margin-left: 40px;
}

.populationInfected {
  margin-left: 35px;
}

.chartStatsList {
  display: flex;
  margin-top: 62px;
  margin-left: 25px;
}

@media only screen and (max-device-width: 480px) {
  .chartStatsList {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    display: flex;
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 481px) and (max-width: 1000px) {
  .chartStatsList {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 60px;
  }
}