.statsTable {
  margin-top: 4em;
  min-height: 600px;
}

.statsTable .MuiPaper-rounded {
  padding: 0px 200px;
  background-color: black !important;
}

.statsTableHeader {
  letter-spacing: 2px;
  font-size: 25px;
}

.statsTypeDropdown {
  width: 16em;
  height: 3em;
  margin-left: 1em;
  margin-top: 0.6em;
  background-color: whitesmoke;
  border-radius: 5px;
}

.helpIcon {
  cursor: pointer;
  margin-left: 7px;
}

.MuiTableCell-head {
  background-color: black !important;
  color: white !important;
  font-weight: 800 !important;
}

.MuiTableCell-root {
  font-size: 15px !important;
  font-family: 'Montserrat', sans-serif !important; 
}

.MuiTooltip-tooltip {
  font-size: 10px !important;
}

[class*='MUIDataTableBodyRow-root']:hover {
  cursor: pointer;
  opacity: 0.4 !important;
}

[class*="MUIDataTableBodyRow-root"]:hover {
  margin-right: 20px;
}

@media only screen and (max-device-width: 480px) {
  .MuiTableCell-root {
    font-size: 8.5px !important;
  }

  .statsTable .MuiPaper-rounded {
    padding: 0px;
    background-color: black !important;
  }
}