.statsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.map {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
}

.mortalityRate {
  margin-bottom: 3em;
}

path.jvectormap-region {
  cursor: pointer;
}   