.globalStatsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.worldMap {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
}

.mortalityRate {
  cursor: pointer;
  margin-bottom: 3em;
}
