.regionChart {
  margin-top: 20px;
}

.recharts-cartesian-grid {
  min-height: 500px !important;
}
.tooltipStatsList {
  list-style-type: none;
}

.settingsRow {
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}

.dailySwitch {
  margin-left: 15px;
  margin-top: 30px;
}

.MuiSwitch-track {
  background-color: grey !important;
}

.regionName {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 1em;
  margin-right: 40px;
  letter-spacing: 2px;
}

.underline {
  border-bottom: 1px solid white;
}

@media only screen and (max-device-width: 480px) {
  .regionChart {
    margin-top: 0px;
  }

  .regionName {
    font-size: 12px;
    margin-left: 40px;
    letter-spacing: 1px;
    margin-top: 30px;
  }
}