.regionChart {
  margin-top: 20px;
}

.recharts-cartesian-grid {
  min-height: 500px !important;
}

.tooltipStatsList {
  list-style-type: none;
}

.settingsRow {
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}

@media only screen and (max-device-width: 480px) {
  .regionChart {
    margin-top: 0px;
  }
}