.regionChart {
  margin-top: 20px;
}

.recharts-cartesian-grid {
  min-height: 500px !important;
}
.tooltipStatsList {
  list-style-type: none;
}

.settingsRow {
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}

.dailySwitch {
  margin-left: 15px;
  margin-top: 30px;
}

.MuiSwitch-track {
  background-color: grey !important;
}

@media only screen and (max-device-width: 480px) {
  .regionChart {
    margin-top: 0px;
  }
}