.about {
  text-align: left;
}

.aboutSubheader {
  margin-top: 2em;
  margin-bottom: 1em;
}

.aboutCoronavirus {
  margin-top: 3em;
}

.aLink {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.aLink:hover {
  opacity: 0.5;
}

.furtherInfoHeader {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.furtherInfoList {
  margin-top: 0px;
}