.about {
  text-align: left;
  padding: 0px 25px;
  line-height: 20px;
}

.aboutHeader {
  text-align: center;
}

.aboutSubheader {
  margin-top: 3em;
  margin-bottom: 0.2em;
}

.answerStart {
  margin-top: 0.2em;
}

.aboutCoronavirus {
  margin-top: 1em;
}

.aLink {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.aLink:hover {
  opacity: 0.5;
}

.protectYourself {
  margin-bottom: 3.5em;
}

.furtherInfoHeader {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  text-align: center;
}

.furtherInfoList {
  margin-top: 0px;
  margin-bottom: 2em;
}

.sectionLineBreak {
  margin-top: 2em;
  margin-bottom: 2em;
}