.navLink {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.navLinkText {
  font-size: 15px;
  font-weight: bold;
}

.navLinkText:hover {
  border-bottom: 1px solid white;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
}

.navIcon {
  margin-left: 4px;
  margin-right: 30px;
}