.trendsInfo {
  text-align: left;
  margin-bottom: 40px;
  margin-top: 30px;
}

.trendsInfo p {
  margin-bottom: 0px;
}

.trendsInfo h3 {
  border-bottom: 1px solid white;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0px;
}

.trendsInfo ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 15px;
}