.chartTypeDropdown {
  width: 8em;
  height: 1.5em;
  margin-left: 1em;
  margin-top: 1em;
  background-color: whitesmoke;
  border: none;
}

.selectContainer {
  display: flex;
  justify-content: center;
}

.chartTypeContainer {
  margin-bottom: 1px;
}