
.navBar {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.navBar > div {
  margin-left: 50px;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

.navLinkText {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
}

.navLinkText:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}


@media only screen and (max-device-width: 480px) {
  .navBar {
    font-size: 8px;
  }

  .navBar > div {
    margin-left: 40px;
  }

  .navLink {
    display: flex;
    flex-direction: column;
  }

  .mapIcon {
    margin-left: 2px;
  }

  .statsIcon {
    margin-left: 5px;
  }

  .chartIcon {
    margin-left: 5px;
  }

  .trendsIcon {
    margin-left: 10px;
  }

  .aboutIcon {
    margin-left: 8px;
  }

  .aboutLink {
    margin-right: 30px;
  }
}

@media only screen and (min-device-width: 481px) and (max-width: 535px) {
  .navBar > div {
    margin-left: 30px;
  }
  
  .navBar {
    font-size: 12px;
  }
} 
