.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  text-decoration: none;
  color: white;
}

.navLinkText {
  font-size: 0.86em;
  font-weight: bold;
}

.navLinkText:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}

.navIcon {
  margin-left: 4px;
}

.navBar {
  margin-top: 20px;
  margin-bottom: 40px;
}

