.navLink {
  text-decoration: none;
  color: white;
  margin: 1.3em;
}

.navLink:hover {
  text-decoration: none;
  color: white;
}

.navLinkText {
  font-size: 1.4em;
  font-weight: bold;
}

.navLinkText:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}

.navIcon {
  margin-left: 0.2em;
}

.navBar {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

