.regionChart {
  margin-top: 20px;
}

.recharts-cartesian-grid {
  min-height: 500px !important;
}

.regionStatsList {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 0px;
  margin-right: 2em;
  padding-right: 3em;
}

.regionStats {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 10px;
}

.regionTitle {
  padding-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.regionText {
  border-bottom: 1px solid white;
}

.tooltipStatsList {
  list-style-type: none;
}