.regionSelectSmall {
  margin-left: 60px;
  margin-top: 4em;
  width: 220px;
  margin-bottom: 20px;
}

#region-select-small-autocomplete {
  text-align: center;
  font-size: 15px !important;
  height: 5px;
}

@media only screen and (max-device-width: 480px) {
  .regionSelectSmall {
    margin-top: 0px;
    margin-left: 100px;
    width: 150px;
  }

  #region-select-small-autocomplete {
    font-size: 10px !important;
  }
}