.stateSelectSmall {
  margin-left: 460px;
  margin-right: 10em;
  margin-top: 4em;
  width: 250px;
  margin-bottom: 1em;
}

@media only screen and (max-device-width: 480px) {
  .stateSelectSmall {
    margin-left: 70px;
    margin-right: 100px;
    width: 150px;
  }
}

#state-select-small-autocomplete {
  text-align: center;
}