.stateSelectSmall {
  margin-left: 500px;
  margin-top: 4em;
  width: 220px;
  margin-bottom: 20px;
}

#state-select-small-autocomplete {
  text-align: center;
  font-size: 15px !important;
  height: 5px;
}

@media only screen and (max-device-width: 480px) {
  .stateSelectSmall {
    margin-left: 60px;
    margin-right: 100px;
    width: 220px;
  }

  #state-select-small-autocomplete {
    font-size: 10px !important;
  }
}
