.App {
  background-color: #010101;
  color: white;
  text-align: center;
  font-size: 13px;
  margin-bottom: 50px;
  width: 99vw;
}

html {
  width: 99vw;
}

.App .MuiCircularProgress-root {
  margin-top: 100px;
}

body {
  background-color: #010101 !important;
}

p {
 font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
}

@media only screen and (max-width: 400px) {
  html, .App {
    width: 93vw;
  }

  .siteTitle {
    font-size: 20px;
  }
}

@media only screen and (min-width: 481px) {
  html {
    overflow-x: hidden;
  }
}