.App {
  background-color: #010101;
  color: white;
  text-align: center;
  font-size: 13px;
  margin-bottom: 50px;
}

.App .MuiCircularProgress-root {
  margin-top: 100px;
}

body {
  background-color: #010101 !important;
}

p {
 font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
 font-family: 'Archivo', sans-serif;
 font-weight: 600;
}
