.regionDropdown {
  width: 8em;
  height: 1.5em;
  margin-left: 4.3em;
  margin-top: 1em;
  background-color: whitesmoke;
  border: none;
}

.regionSelect {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
}

.MuiInputBase-root {
  background-color: white;
}