.countrySelectSmall {
  margin-left: 500px;
  margin-top: 4em;
  width: 220px;
  margin-bottom: 20px;
}

#country-select-small-autocomplete {
  text-align: center;
  font-size: 15px !important;
  height: 5px;
}

@media only screen and (max-device-width: 480px) {
  .countrySelectSmall {
    margin-left: 110px;
    width: 150px;
  }

  #country-select-small-autocomplete {
    font-size: 10px !important;
  }
}