.countrySelectSmall {
  margin-left: 12em;
  margin-right: 10em;
  margin-top: 4em;
  margin-bottom: 1em;
  text-align: center;
}


@media only screen and (max-device-width: 480px) {
  .countrySelectSmall {
    margin-left: 60px;
    margin-right: 100px;
    width: 240px;
  }
}