.countrySelectSmall {
  margin-left: 500px;
  margin-top: 4em;
  width: 220px;
  margin-bottom: 20px;
}

#country-select-small-autocomplete {
  text-align: center;
  font-size: 18px !important;
}

@media only screen and (max-device-width: 480px) {
  .countrySelectSmall {
    margin-left: 60px;
    margin-right: 100px;
    width: 240px;
  }
}